<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>PRJ321_Assignment</display-name>
	<welcome-file-list>
		<welcome-file>Home.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>username</param-name>
		<param-value>admin@admin.com</param-value>
	</context-param>

	<context-param>
		<param-name>password</param-name>
		<param-value>admin</param-value>
	</context-param>




	<servlet>
		<servlet-name>MVC</servlet-name>
		<servlet-class>controller.MVC</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>MVC</servlet-name>
		<url-pattern>/mvc</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controller.Logout</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/Login.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/Home.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Dash</servlet-name>
		<jsp-file>/admin/Dashboard.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Dash</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>logFilter</filter-name>
		<filter-class>controller.FilterLogin</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>logFilter</filter-name>
		<url-pattern>/admin/Dashboard.jsp</url-pattern>
		<url-pattern>/dashboard</url-pattern>
		<url-pattern>/CheckOut.jsp</url-pattern>
  		<dispatcher>FORWARD</dispatcher>
 	    <dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
</web-app>